@import url(./global.css);

/* HEADER */
header{
    font-family: var(--font-family-primary);
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    background-color: var(--color-pink);
}

.container-nav-header{
    display: flex;
    align-items: center;
    gap: 285px;
}

.navigation-header ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.navigation-header ul li a{
    text-decoration: none;
    color: var(--color-dark);
    font-weight: var(--font-weight-h1);
    font-size: var(--font-size-body-lg);
}

.btn-header{
    text-decoration: none;
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 12px 24px;
    transition: 0.3s;
}

.btn-header:hover{
    background-color: #424242;
}

/* ---- MAIN ---- */

main {
    display: flex; /* Para que o grupo fique ao lado do outro */
    justify-content: center; /* Centraliza na horizontal */
    align-items: center; /* Centraliza na vertical */
    gap: 80px; /* Distância entre os elementos */
    background-color: var(--color-pink); /* Cor de fundo */
    min-height: calc(100vh - 78px); /* Ocupa o restante da tela após o header */
    padding: 0 120px; /* Espaçamento interno lateral */
}

.main-content {
    display: flex; /* Para que o grupo fique ao lado do outro */
    flex-direction: column; /* Empilha os elementos na vertical */
    gap: 20px; /* Distância entre os elementos */
    width: 480px; /* Largura do container */
}

.main-content > span {
    font-family: var(--font-family-primary); /* Família da fonte */
    font-size: var(--font-size-body-sm); /* Tamanho da fonte */
    font-weight: var(--font-weight-body-sm); /* Espessura da fonte */
    color: var(--color-dark); /* Cor do texto */
    text-transform: uppercase; /* Texto em maiúsculo */
    letter-spacing: 1.28px; /* Espaçamento entre letras */
}

.main-content h1 {
    font-size: var(--font-size-h1); /* Tamanho da fonte */
    font-weight: var(--font-weight-h1); /* Espessura da fonte */
    font-family: var(--font-family-primary); /* Família da fonte */
    line-height: 1.1; /* Espaçamento entre linhas */
    color: var(--color-dark); /* Cor do texto */
}

.main-content h1 span {
    display: block; /* Ocupa linha inteira */
    font-family: var(--font-family-primary); /* Família da fonte */
    font-weight: var(--font-weight-h1); /* Espessura da fonte */
    color: var(--color-red); /* Cor do texto em destaque */
}

.main-content p {
    font-family: var(--font-family-primary); /* Família da fonte */
    color: var(--color-dark); /* Cor do texto */
    line-height: 1.75; /* Espaçamento entre as linhas */
    width: 457px; /* Largura máxima */
}

.container-cta {
    display: flex; /* Para que o grupo fique ao lado do outro */
    align-items: center; /* Centraliza na vertical */
    gap: 16px; /* Distância entre os elementos */
}

.btn-primary,
.btn-secondary {
    padding: 14px 36px; /* Espaçamento interno */
    font-weight: var(--font-weight-h1); /* Espessura da fonte */
    text-decoration: none; /* Remove a decoração do texto */
    font-family: var(--font-family-primary); /* Família da fonte */
    font-size: var(--font-size-body-md); /* Tamanho da fonte */
    transition: 0.3s; /* Transição suave ao passar o mouse */
}

.btn-primary {
    background-color: var(--color-dark); /* Cor de fundo */
    color: var(--color-white); /* Cor do texto */
}

.btn-primary:hover {
    background-color: #424242; /* Cor de fundo ao passar o mouse */
}

.btn-secondary {
    background-color: var(--color-white); /* Cor de fundo */
    color: var(--color-dark); /* Cor do texto */
    border: 2px solid var(--color-dark); /* Borda */
}

.btn-secondary:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Cor de fundo ao passar o mouse */
}

/* ABOUT */

.about {
    background-color: var(--color-dark);
    color: var(--color-white);
    text-align: center;
    padding: 50px;
}

.about-text {
    padding: 20px;
}

.about-text h2 {
    font-size: var(--font-size-h2);
    padding: 24px;
}

.about-text p {
    display: flex;
    justify-content: center;
    font-size: var(--font-size-body-lg);
    width: 810px;
    margin: 0 auto;
}

.numeros {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.item h3 {
    font-size: var(--font-size-h3);
}

.item p {
    font-size: var(--font-size-body-xl);
}

/* SERVICES */

/* --- COMPONENTES DA SEÇÃO DE SERVIÇOS --- */

/* Seção de Serviços */
.services-section {
  background-color: var(--color-white);
  padding: 80px 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Cabeçalho da seção */
.section-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 60px auto;
}

.section-header h2 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h1);
  color: var(--color-dark);
  margin-bottom: 20px;
}

.section-header p {
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight-body-md);
  color: var(--color-dark-grey);
}

/* Grid de serviços */
.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* Cartão de cada serviço */
.service-card {
  text-align: left;
}

.icon-container {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  height: 48px;
}

/* Estilo para as imagens*/
.service-icon {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.service-card h3 {
  font-size: var(--font-size-body-lg);
  font-weight: var(--font-weight-h2);
  color: var(--color-dark);
  margin-bottom: 12px;
}

.service-card p {
  font-size: var(--font-size-body-sm);
  font-weight: var(--font-weight-body-sm);
  color: var(--color-dark-grey);
  line-height: 1.5;
}

/* PORTFÓLIO */

body {
    background-color: var(--color-pink);
    margin: 0;
    padding: 0;
}

.portfolio-section {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 124px;
    box-sizing: border-box;
}

/* CABEÇALHO */
.portfolio-heading {
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-title {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h1);
    color: var(--color-dark);
    margin-bottom: 16px;
}

.portfolio-description {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
    color: var(--color-dark-grey);
}

/* GRID */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

/* CARD */
.project-card {
    width: 100%;
}

/* IMAGEM */
.project-image {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    border-radius: 20px;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* TEXTO */
.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title {
    margin: 0 0 6px;
    color: var(--color-dark);
}

.project-tags {
    margin: 0;
    color: var(--color-red);
}

/* SETA */
.project-arrow {
    width: 32px;
    height: 32px;
    margin-left: 12px;
}

.project-arrow img {
    width: 100%;
    height: 100%;
}

/* BLOG */

/* Section */
.container-design{
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    background-color: var(--color-grey);
}

/* Cabeçalho */
.content-design{
    width: 800px;
    text-align: center;
}

.content-design h2{
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h1);
    margin-bottom: 16px;
    color: var(--color-dark);
}

.content-design p{
    font-size: var(--font-size-body-md);
    font-weight: var(--font-weight-body-md);
    color: var(--color-dark);
}

/* Container dos Cards */
.cards-container{
    display: flex;
    justify-content: space-evenly;
    gap: 92px;
}

/* Card */
.cards-design{
    width: 336px;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    gap: 8px;
}

.cards-design:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
}

/* Data */
.cards-design p:first-of-type{
    margin: 16px 16px 8px;
    font-size: var(--font-size-body-xs);
    font-weight: var(--font-weight-body-xs);
    color: var(--color-dark);
}

/* Título */
.cards-design h3{
    font-size: var(--font-size-body-md);
    font-weight: var(--font-weight-h1);
    color: var(--color-dark);
}

/* Descrição */
.cards-design p:last-of-type{
    font-size: var(--font-size-body-sm);
    font-weight: var(--font-weight-body-sm);
    color: var(--color-dark);
}

/* Link */
.cards-design a{
    margin: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--font-size-body-xs);
    font-weight: var(--font-weight-h1);
    color: var(--color-dark);
}

.cards-content{
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 8px;
}

.btn-content{
 margin-top: 20px;
}